# .gitignore

# Python virtual environments
venv/
.env
*.env

# Byte-compiled / cache
__pycache__/
*.py[cod]

# macOS system files
.DS_Store

# Editor directories
.vscode/

# Logs
*.log

# Uploaded files
storage/uploads/

# Converted files
storage/converted/